{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    {% if name %}
        <h1>Hello, {{name|title}}!</h1>
    {% else %}
        <h1>Hello, Stranger!</h1>
    {% endif %}
	{% if not known %}
		<p>Pleased to meet you!</p>
	{% else %}
		<p>Happy to see you again!</p>
	{% endif %}
</div>
{{ wtf.quick_form(form) }}
{#<form method="post">#}
{#	{{ form.hidden_tag() }}#}
{#	<p>{{ form.name.label }}</p>#}
{#	<p>{{ form.name() }}</p>#}
{#	<p>{{ form.submit() }}</p>#}
{#</form>#}
{% endblock %}
